@media (prefers-color-scheme: dark) {
  :root {
    --twoslash-popup-bg: color-mix(in srgb, var(--astro-code-background) 80%, black) !important;
  }
}

:root {
  --sl-content-width: 65rem !important;
  --sl-content-margin-inline: 0 !important;
}
